.preview-card-wrapper {
    border: solid #86684A 1px;
    border-radius: 3px;
    padding: 10px;
    width: 200px;
    text-align: center;
}

.link-preview {
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #86684A95;
}

